extends layout
block content
    .card(ng-app='feedersModule')
        .card-header(data-background-color='purple')
            h4.title RSS FEEDERS
            p.category Listado
            a.btn.btn-info.btn-lg.float-right(href='/rss/new') NUEVO
        .card-content.table-responsive(ng-controller='feedersController')
            table.table
                thead.text-primary
                    th Nombre
                    th Descripción
                    th Opciones
                tbody
                    each value in feeders
                        tr
                            td #{value.name}
                            td #{value.description}
                            td.td-actions.text-right
                                a.btn.btn-primary.btn-simple.btn-xs(href='/feeder/#{value._id}',target="_blank", rel='tooltip', title='Ver rss')
                                    i.material-icons rss_feed
                                a.btn.btn-primary.btn-simple.btn-xs(href='/rss/edit/#{value._id}', rel='tooltip', title='Editar')
                                    i.material-icons edit
                                button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Eliminar', ng-click='delete("#{value._id}")')
                                    i.material-icons close

block Javascript
    script(type='text/javascript',src='/js/modules/feedersModule.js').
    script(type='text/javascript').
        $(document).ready(function () {
            document.getElementById('rss').className = 'active';
        });