extends layout

block content
    div(ng-app='feedersModule')
        div(ng-controller='feedersController')
            .row
                .col-md-12
                    .card
                        .card-header(data-background-color='purple')
                            h4.title Actualizar RSS Feed
                            p.category Ingresa los datos solicitados
                        .card-content
                            .row
                                .col-md-12
                                    .form-group
                                        label.control-label Nombre
                                        input.form-control(type='text',name='name',ng-model='editedFeeder.name', ng-init="editedFeeder.name ='#{indicator.name}'")
                            .row
                                .col-md-12
                                    .form-group
                                        label Descripción
                                        .form-group
                                            label.control-label  Ingrese el texto
                                            textarea.form-control(rows='5',name='description',ng-model='editedFeeder.description', ng-init="editedFeeder.description ='#{indicator.description}'")
                            .row
                                table.table
                                    tbody
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input(type='checkbox', name='cnvs', ng-model='editedFeeder.cnvs', ng-init='editedFeeder.cnvs = #{indicator.cnvs}')
                                            td Añadir información de los convertidores
                                        tr
                                            td
                                                .checkbox
                                                    label
                                                        input(type='checkbox', name='cooperPrice', ng-model='editedFeeder.cooperPrice',ng-init='editedFeeder.cooperPrice = #{indicator.cooperPrice}')
                                            td Añadir información sobre el precio de cobre
            .row
                .col-md-12
                    .card.card-nav-tabs
                        .card-header(data-background-color='purple')
                            .nav-tabs-navigation
                                .nav-tabs-wrapper
                                    span.nav-tabs-title Añadir Información:
                                    ul.nav.nav-tabs(data-tabs='tabs')
                                        li.active
                                            a(href='#indicatorsTab', data-toggle='tab')
                                                i.material-icons bug_report
                                                |  Indicadores
                                                .ripple-container
                                        li
                                            a(href='#comunicatesTab', data-toggle='tab')
                                                i.material-icons code
                                                |  Comunicados
                                                .ripple-container
                                        li
                                            a(href='#phrasesTab', data-toggle='tab')
                                                i.material-icons cloud
                                                |  Frases de seguridad
                                                .ripple-container
                        .card-content
                            .tab-content
                                #indicatorsTab.tab-pane.active
                                    .row
                                        .col-md-10.col-sm-8
                                            label.control-label Añadir
                                            select#indicatorsSelector.chosen.form-control(name='indicators')
                                                each  value in indicators
                                                    option(value='#{value._id}') #{value.tag} [#{value.units}] : #{value.description}
                                        .col-md-2.col-sm-4
                                            br
                                            button.btn.btn-primary.pull-right(type='button', rel='tooltip', title='Añadir',ng-click="addElementToTable('indicatorsSelector','indicatorsTable')") +
                                    p Indicadores añadidos
                                    form#indicatorsForm
                                        table.table
                                            tbody#indicatorsTable

                                                td
                                                    input(type='text', hidden='true', value='rowId', name="' + tableId + '[]")
                                                    |  rowText
                                                td.td-actions.text-right
                                                    button.btn.btn-danger.btn-simple.btn-xs.pull-right(type='button', rel='tooltip', title='Eliminar', onclick="removeRow(\'' + tr.id + '\')")
                                                        i.material-icons close

                                #comunicatesTab.tab-pane
                                    .row
                                        .col-md-10.col-sm-8
                                            label.control-label Añadir
                                            select#comunicatesSelector.chosen.form-control(name='comunicates')
                                                each  value in comunicates
                                                    option(value='#{value._id}') #{value.comunicate}
                                        .col-md-2.col-sm-4
                                            br
                                            button.btn.btn-primary.pull-right(type='button', rel='tooltip', title='Añadir',ng-click="addElementToTable('comunicatesSelector','comunicatesTable')") +
                                    p Comunicados añadidos
                                    form#comunicatesForm
                                        table.table
                                            tbody#comunicatesTable
                                #phrasesTab.tab-pane
                                    .row
                                        .col-md-10.col-sm-8
                                            label.control-label Añadir
                                            select#phrasesSelector.chosen.form-control(name='phrases')
                                                each  value in phrases
                                                    option(value='#{value._id}') #{value.phrase}
                                        .col-md-2.col-sm-4
                                            br
                                            button.btn.btn-primary.pull-right(type='button', rel='tooltip', title='Añadir',ng-click="addElementToTable('phrasesSelector','phrasesTable')") +
                                    p Frases de seguridad añadidos
                                    form#phrasesForm
                                        table.table
                                            tbody#phrasesTable
            button.btn.btn-primary.pull-right(ng-click='create()') Actualizar
                .clearfix
block Javascript
    script(type='text/javascript',src='/bower_components/chosen/chosen.jquery.js')
    script(type='text/javascript',src='/js/modules/feedersModule.js').
        $(document).ready(function () {
            document.getElementById('rss').className = 'active';
            $(".chosen-select").chosen({});
        });
